@model CadastreManagment.RealEstateCadastre

@{
    ViewBag.Title = "Details";
}

<h2 class="zagolovok">Подробнее</h2>
<div>
    <p class="parametr" style="color:black">Кадастр недвижимости</p>
    <hr />
    <dl >
        <dt>
            Тип недвижимости:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Площадь:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            Адрес:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Дата регистрации:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval_Date)
        </dd>

        <dt>
            Паспортные данные владельца:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>

        <dt>
            Готовность объекта:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Readiness)
        </dd>

        <dt>
            Назначение объекта:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment)
        </dd>

        <dt>
            Этажность:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floors)
        </dd>

        <dt>
            Налоговый коэффициент:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax_coefficint)
        </dd>

        <dt>
            Заметки:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }, new { @class = "edit" }) |
    @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "details" })
</p>
