@model IEnumerable<CadastreManagment.StatementMinerals>

@{
    ViewBag.Title = "Index";
}

<h2 class="zagolovok">Заявления на кадастр полезных ископаемых</h2>

<p>
    @Html.ActionLink("Создать новый", "Create", null, new { @class = "edit" })
</p>
<table class="table">
    <tr>
        <th>
            Статус заявления
        </th>
        <th>
            Тип полезных ископаемых
        </th>
        <th>
            Адрес
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Паспортные данные владельца
        </th>
        <th>
            Объем
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>

                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "edit" }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id }, new { @class = "details" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "delete" }) |
                @Html.ActionLink("Принять", "CreateLand", new { id = item.Id }, new { @class = "details" }) |
                @Html.ActionLink("Отказать", "RefusalLand", new { id = item.Id }, new { @class = "delete" })
            </td>
        </tr>
    }

</table>
