@model CadastreManagment.Directory

@{
    ViewBag.Title = "Create";
}

<h2 class="zagolovok">Создание земельного кадастра</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div >
        <p class="parametr" style="color:black">Земельный кадастр</p>
        <hr />
        @Html.ValidationSummary(true, "")
        <div >
            Тип кадастрового объекта
            <div >
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type, "")
            </div>
        </div>
        <div >
            Описание:
            <div >
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes, "")
            </div>
        </div>

        <div>
            <br />
            <input type="submit" value="Создать" />|
            @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "details" })

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

