@model IEnumerable<CadastreManagment.WaterCadastre>

@{
    ViewBag.Title = "IndexId";
}

<h2 class="zagolovok">Ваши водные кадастры</h2>

<table class="table">
    <tr>
        <th>
            Площадь
        </th>
        <th>
            Адрес
        </th>
        <th>
            Тип водного объекта
        </th>
        <th>
            Дата регистрации
        </th>
        <th>
            Паспортные данные владельца
        </th>
        <th>
            Налоговый коэффициент
        </th>
        <th>
            Уровень загрязненности
        </th>
        <th>
            Очитстительные станции
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approval_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax_coefficint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Water_quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Water_management_facilities)
        </td>
        <td>
            @Html.ActionLink("Налоги", "IndexId", "Tax", new { cadastreId = item.Id, cadastreType = "WaterCadastre" }, new { @class = "edit" })
        </td>
    </tr>
}

</table>
