@model CadastreManagment.StatementLand

@{
    ViewBag.Title = "Create";
}

<h2 class="zagolovok">Создание заявления на земельный кадастр</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <p class="parametr" style="color:black">Заявления на земельный кадастр</p>
        <hr />
        @Html.ValidationSummary(true, "")
        

        <div>
            Площадь:
            <div>
                @Html.EditorFor(model => model.Area)
                @Html.ValidationMessageFor(model => model.Area, "")
            </div>
        </div>

        <div>
            Адрес:
            <div>
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address, "")
            </div>
        </div>

        <div>
            Стоимость:
            <div>
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price, "")
            </div>
        </div>

        <div>
            Паспортные данные владельца:
            <div>
                @Html.EditorFor(model => model.Passport)
                @Html.ValidationMessageFor(model => model.Passport, "")
            </div>
        </div>

        <div>
            <div>
                <br />
                <input type="submit" value="Создать" />
                @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "details" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
