@model IEnumerable<CadastreManagment.StatementLand>

@{
    ViewBag.Title = "IndexId";
}

<h2 class="zagolovok">Ваши заявления на земельные кадастры</h2>
<p>
    @Html.ActionLink("Создать новое", "Create", null, new { @class = "edit" })
</p>
<table class="table">
    <tr>
        <th>
            Статус заявления
        </th>
        <th>
            Площадь
        </th>
        <th>
            Адрес
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Паспортные данные владельца
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passport)
        </td>
        
    </tr>
}

</table>
