@model CadastreManagment.StatementRealEstate

@{
    ViewBag.Title = "Delete";
}

<h2 class="zagolovok">Удалить</h2>

<h3>Вы уверены, что хотите удалить данное заявление?</h3>
<div>
    <p class="parametr" style="color:black">Заявления на кадастр полезных ископаемых</p>
    <hr />
    <dl>
        <dt>
            Статус заявления:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Тип недвижимости:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Площадь:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            Адрес:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Паспортные данные владельца:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>

        <dt>
            Готовность объекта:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Readiness)
        </dd>

        <dt>
            Назначение объекта:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment)
        </dd>

        <dt>
            Этажность:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floors)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div >
            <input type="submit" value="Удалить" /> |
            @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "details" })
        </div>
    }
</div>
