@model CadastreManagment.Tax

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tax</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_of_creation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_creation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cadastre_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cadastre_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cadastre_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cadastre_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
